<footer>
  <div>
    <div class="container">
      <div class="row">
        <div class="col align-items-start">
          <span class="title">Made with ❤️ by Arkan Jbali</span>
        </div>
        <div class="col-2 centerItem">
          <span class="title"> Call </span><br>
          <a href="tel:0524033910" target="_blank">0524033910</a>
        </div>
        <div class="col-2 centerItem">
          <span class="title"> Write </span><br>
           <a href="mailto:arkan.1997@gmail.com" target="_blank">
            arkan.1997@gmail.com
          </a>
        </div>
        <div class="col-2 centerItem">
          <span class="title"> Follow </span><br>
          <a href="https://github.com/ArkanJbali" target="_blank" class="social"> <i class="fa fa-github"></i> </a>
          <a href="https://www.linkedin.com/in/arkan-jbali/" target="_blank" class="social"> <i class="fa fa-linkedin"></i> </a>
          <a href="https://www.facebook.com/arkan97j" target="_blank" class="social"> <i class="fa fa-facebook-f"></i> </a>
          <a href="https://www.instagram.com/arkanjbali/" target="_blank" class="social"> <i class="fa fa-instagram"></i> </a>
        </div>
      </div>
    </div>
  </div>

</footer>
