footer{
  padding: 2rem;
}
.centerItem{
  text-align: center;
}
.title{
  font-weight: bold;
}
a{
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-size: 1vw;
}
.social{
  font-size: 1.2vw;
  margin-right: 2%;
  margin-left: 2%;
}
