
<div class="tt">
  <div class="column pink react-reval" id="pink">
    <div class="card">
      <img src="../assets/ArkanPic.jpg">
    <span class="name">Arkan <br>
    Jbali</span>
    <hr>
    <br>
    <span class="role">WEB DEVELOPER</span>
    <br>
    <div class="cardPanel" style="  width: 100%;">
      <a href="https://github.com/ArkanJbali" target="_blank" class="social"> <i class="fa fa-github"></i> </a>
    <a href="https://www.linkedin.com/in/arkan-jbali/" target="_blank" class="social"> <i class="fa fa-linkedin"></i> </a>
    <a href="https://www.facebook.com/arkan97j" target="_blank" class="social"> <i class="fa fa-facebook-f"></i> </a>
    <a href="https://www.instagram.com/arkanjbali/" target="_blank" class="social"> <i class="fa fa-instagram"></i> </a>
    </div>
    </div>
  </div>
  <div class="column react-reval1">
    <div class="card2">
      <span class="title"> Hello, </span>
      <span class="wave-emoji">
        <img alt="👋" draggable="false" src="https://twemoji.maxcdn.com/2/72x72/1f44b.png" style="height: 1em; width: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">
      </span>
      <br>
      <span class="subtitle"> Here's who I am & what I do </span>
      <br>
      <!--MAKE THE SAME SIZE-->
      <div class="btn-primary roundBtn" id="roundBtn"><a routerLink="/resume"style="color: white;">RESUME</a></div> <div class="btn-outline-light roundBtn2" id="roundBtn2"><a routerLink="/projects" style="color: rgba(0, 80, 255, 1);">PROJECTS</a></div>
      <p class="txt">
        Graduated bachelor degree of computer science (<b>B.Sc.</b>) who seeks a full time position in the software world to launch my career and gain experience.
        During my studies I gained knowledge, experience and I was team leader for Full stack project, operated by Tsofen organization, in cooperation with Amdocs.
        <br>
        &nbsp;&nbsp; > Develop highly interactive <b>Front end / User Interfaces</b> for web applications.<br>
        &nbsp;&nbsp; > Skillful in working with <b>Web development</b>, <b>SQL</b> database and <b>OOP</b>.
        <br>
        &nbsp;&nbsp; > Passion for solving problems, Highly motivated, fast learner, works well independently and as part of team.
      </p>
    </div>
  </div>

    <!-- <div class="pink">

          <div class="card">
            <img src="../assets/ArkanPic.jpg">
          <span class="name">Arkan <br>
          Jbali</span>
          <hr>
          <br>
          <span class="role">WEB DEVELOPER</span>
          <br>
          <div class="cardPanel" style="  width: 100%;">
            <a href="https://github.com/ArkanJbali" target="_blank" class="social"> <i class="fa fa-github"></i> </a>
          <a href="https://www.linkedin.com/in/arkan-jbali/" target="_blank" class="social"> <i class="fa fa-linkedin"></i> </a>
          <a href="https://www.facebook.com/arkan97j" target="_blank" class="social"> <i class="fa fa-facebook-f"></i> </a>
          <a href="https://www.instagram.com/arkanjbali/" target="_blank" class="social"> <i class="fa fa-instagram"></i> </a>
          </div>
          </div>

    </div>


      <div class="card2">
        <span class="title"> Hello, </span>
        <br>
        <span class="subtitle"> Here's who I am & what I do </span>
        <br>
        <div class="btn-primary roundBtn"><a routerLink="/resume"style="color: white;">RESUME</a></div> <div class="btn-outline-light roundBtn2"><a routerLink="/projects" style="color: rgba(0, 80, 255, 1);">PROJECTS</a></div>
        <p>
          Graduated bachelor degree of computer science (<b>B.Sc.</b>) who seeks a full time position in the software world to launch my career and gain experience.
          During my studies I gained knowledge, experience and I was team leader for Full stack project, operated by Tsofen organization, in cooperation with Amdocs.
          <br>
          &nbsp;&nbsp; > Skillful in working with <b>Web development</b>, <b>SQL</b> database and <b>OOP</b>.
          <br>
          &nbsp;&nbsp; > Passion for solving problems, Highly motivated, fast learner, works well independently and as part of team.
        </p>
      </div> -->

</div>
