* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}


.tt:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    /* margin-left: 15%; */
  }
  .card{
    width: 100%;
  }
  #pink{
    width: 70%;
  }
  .txt{
    font-size: 0.7em;
    width: 80%;
  }
  #roundBtn{font-size: 0.6em;}
  #roundBtn2{font-size: 0.6em;}

}

.pink{
  background-color: #E6DACE;
  width: 40%;
  float: left;
}
img {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 50%;
  width: 50%;
}
.card{
    background-color: #F4ECE6;
    position: relative;
    margin: 10%;
    left: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-items: center;
}
.card2{
  background-color: #ffffff;
    /*top right bottom left*/
  margin: 3% 5% 10% 10%;
  width: 100%;
}
.cardPanel{

  padding: 3%;

}
hr{
  width: 20%;
  box-sizing: border-box;
    border-top: .3rem solid rgba(0, 80, 255, 1);
}
.name{
  font-weight: bold;
  font-size: 2em;
}
.role{
  color: rgba(0,0,0,.5);
  font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  letter-spacing: 0.25em;
  font-size: 1em;
}
.title{
  font-weight: bold;
  font: normal normal bold 7vw/1.4em poppins-semibold,poppins,sans-serif;
}
.subtitle{
  font-size: 1.5em;
}

p{

  font-size: 1em;
  width: 70%;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.roundBtn{
  width: 20%;
  display: inline-block;
  margin:4%;
  border: 1px solid rgba(0, 80, 255, 1);
  border-radius: 100px 100px 100px 100px;
  font-size: 1em;
  padding: 2%;
  background: rgba(0, 80, 255, 1);
  text-align: center;
}
.roundBtn2{
  width: 20%;
  display: inline-block;
  margin:4%;
  border: 1px solid rgba(0, 80, 255, 1);
  border-radius: 100px 100px 100px 100px;
  font-size: 1em;
  padding: 2%;
  text-align: center;

}
/* div.roundBtn2:hover{
  background-color: rgba(0, 80, 255, 1);
  color: white;
}
div.roundBtn:hover{
  background-color: white;
  color: black;
} */
a{
  color: black;
  text-decoration: none;
}
.social{
  font-size: 1.2em;
  margin-right: 3%;
  margin-left: 3%;
}
.tt{
  flex: auto;
}

.react-reval{
  animation-fill-mode: both;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-name: react-reveal-5;
  opacity: 0;
}
.react-reval1{
  animation-fill-mode: both;
  animation-duration: 1000ms;
  animation-delay: 500ms;
  animation-iteration-count: 1;
  animation-name: react-reveal-5;
  opacity: 0;
}
@keyframes react-reveal-5 {
  0% {
    opacity: 0;
    transform: translate3d(0px, 20px, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
  }
.wave-emoji {
  font: normal normal bold 4vw/1.4em poppins-semibold,poppins,sans-serif;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: wave;
  animation-name: wave;
  display: inline-block;
  -webkit-transform-origin: 70% 70%;
  transform-origin: 70% 70%;
}

@keyframes wave {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
10% {
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
20% {
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
}
30% {
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
40% {
  -webkit-transform: rotate(9deg);
  transform: rotate(9deg);
}
50% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
}
