<div class="bgc">
  <div class="square"></div> <div class="title">Projects</div>
  <div class="row justify-content-center" style="margin-top: 5%; ">
    <div class="containerA">
      <div class="card">
         <div class="card__image-container">
           <img class="card__image" src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80" alt="">
        </div>

          <svg class="card__svg" viewBox="0 0 800 500">

            <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
            <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
          </svg>

         <div class="card__content">
           <h3 class="card__title">BudgetToCity</h3>
           <h6>Web Application</h6>
           <a href="https://github.com/ArkanJbali/BudgetToCity" target="_blank" alt="BudgetToCity"> <i class="fa fa-github"></i> </a>
         <p>BudgetToCity travel agency website: designed and implemented as web based application connected with travel agencies(Booking, Skyscanner, TripAdvisor), to make ability for users reserve a complete trip according to specified budget. They can find cars, flights, and hotels. Administration portal view historical and statistical information, and user management. Developed in C#, Angular, SQLServer.</p>
        </div>
      </div>
    </div>


    <div class="containerA">
      <div class="card">
         <div class="card__image-container">
           <img class="card__image" src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80" alt="">
        </div>

          <svg class="card__svg" viewBox="0 0 800 500">

            <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
            <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
          </svg>

         <div class="card__content">
           <h3 class="card__title">Khalanj</h3>
           <h6>Web Application</h6>
           <a href="https://github.com/ArkanJbali/Khalanj" target="_blank" alt="Khalanj"> <i class="fa fa-github"></i> </a>
           <p>Second hand clothes shop: designed and implemented as web based application that shows catalog of clothes(men/women/kids), each category with lists of clothes' collections, customers can preview items details, they can add many items to shop cart according to their selection, each user signed to account to register his/her payment details, address and other information. Administration portal for track users' transactions, and user management. Developed in PHP, Angular, MySQL on VS Code.</p>
        </div>
      </div>
    </div>

    <div class="containerA">
      <div class="card">
         <div class="card__image-container">
           <img class="card__image" src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80" alt="">
        </div>

          <svg class="card__svg" viewBox="0 0 800 500">

            <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
            <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
          </svg>

         <div class="card__content">
           <h3 class="card__title">DiscloStore</h3>
           <h6>Android Mobile Application</h6>
           <a href="https://github.com/ArkanJbali/DiscloStore" target="_blank" alt="DiscloStore"> <i class="fa fa-github"></i> </a>
         <p>Shops Mobile Application: Designed and implemented a android application that, shows catalog of shops, each category with list of shops, customer can view store information, map navigator, browse website and the shop owners can add his own store and fill all the information. Developed in Java, SQLite on Android Studio. </p>
        </div>
      </div>
    </div>


</div>
<br><br><br><br>
