<div class="bgc">
  <div class="square"></div> <div class="title">Let's talk</div>
  <div class="row justify-content-center" style="margin-top: 5%; ">

    <div class="containerA">
      <div class="card">
        <div class="card__image-container">
          <img class="card__image" src="../assets/addressP.png" alt="">
       </div>
         <div class="card__content">

           <h3 class="card__title">Address</h3>
           <h6>Taibe, HaMerkaz (Central) District, <br>
            Israel</h6>
        </div>
      </div>
    </div>
    <div class="containerA">
      <div class="card">
        <div class="card__image-container">
          <img class="card__image" src="../assets/emailP.png" alt="">
       </div>
         <div class="card__content">

           <h3 class="card__title">Email</h3>
           <h6><a href="mailto:arkan.1997@gmail.com" target="_blank">
            arkan.1997@gmail.com
          </a></h6>

        </div>
      </div>
    </div>
    <div class="containerA">
      <div class="card">
        <div class="card__image-container">
          <img class="card__image" src="../assets/phoneP.png" alt="">
       </div>
         <div class="card__content">
           <h3 class="card__title">Phone</h3>
           <h6><a href="tel:0524033910" target="_blank">0524033910</a></h6>
        </div>
      </div>
    </div>


  </div>
  <br><br><br><br>
</div>

