<div class="bgc">
  <div class="square"></div> <div class="title" id="title" style="margin-bottom: 2%;">Resume</div>
  <div class="row justify-content-start  react-reval" style="margin-top: 5%; animation-name: react-reveal-1;">
    <div class="col">
      <span class="header" id="header">Education</span>
    </div>
    <div class="col">
      <span style="background-color: rgba(0, 80, 255, 1); padding: 2%;   border-radius: 100px 100px 100px 100px;">
      <a href="../assets/ArkanJbali_CV.docx" download="ArkanJbali_CV" style="color: white;"> <span class="download">Download CV &nbsp;&nbsp;<i class="fa fa-download"></i></span></a>
    </span>
    </div>
  </div>

  <div class="row align-items-start line  react-reval"  style="animation-name: react-reveal-5;">
    <div class="col-4 column" style="text-align: left;">
      <span class="period" id="period">2016 - 2020</span><br>
      <span class="position" id="position">Arab American University</span><br>
      <span class="company" id="company">B.Sc.</span>

    </div>
    <div class="col-8 column" style="text-align: left;">
      <p class="txt">
        <b>Honor and Awards:</b> <br>
        &nbsp; &nbsp; •	University President's Honor 2018/2019. <br>
        <b>Courses</b>: Web Development(100), Operating System(100), Databases(100),OOP(95), Algorithms(85),<br>
        Introduction to Data Science(100), Data Structure(85).

    </p>
  </div>
  </div>


  <div class="row justify-content-start react-reval" style="margin-top: 5%; animation-name: react-reveal-1;">
    <div class="col">
      <span class="header" id="header">Experience</span>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row align-items-start line react-reval" style="animation-name: react-reveal-5;">
    <div class="col-4 column" style="text-align: left;">
      <span class="period" id="period"> 2020  </span><br>
      <span class="position" id="position">Introduction to MongoDB  <br> Online Training Course</span><br>
      <span class="company" id="company">Tsofen تسوفن צופן</span>
        <br><br>
      <span class="company" id="company">Israel</span>
        <br>
    </div>
    <div class="col-8 column" style="text-align: left;">
      <p class="txt">
       Online training course operated by Tsofen organization with <b>IBM</b> based on their online courses' platform <b>SkillsBuild</b> platform.
       <br>Totaling 20 academic hours, including:
        <br>•	Self-online course training and tests
        <br>•	Technologies: <b>SQL</b>, <b>NoSQL</b> DB based on <b>MongoDB</b>


    </p>
  </div>
  </div>
  <div class="row align-items-start line react-reval" style="animation-name: react-reveal-5;">
    <div class="col-4 column" style="text-align: left;">
      <span class="period" id="period">2019  </span><br>
      <span class="position" id="position">Automation Tester Trainer</span><br>
      <span class="company" id="company">Progineer Technologies</span>
        <br><br>
      <span class="company" id="company">Ramallah</span>
        <br>
    </div>
    <div class="col-8 column" style="text-align: left;">
      <p class="txt">
        Practical training as automation tester on the company's website.
        <br>We implement scripts to automate the website using:
        <br><b>Selenium</b>, <b>Junit</b> in <b>Java</b>, build test matrices and test plans.
      </p>
  </div>
  </div>

  <div class="row align-items-start line react-reval" style="animation-name: react-reveal-5;">
    <div class="col-4 column" style="text-align: left;">
      <span class="period" id="period">2018  </span><br>
      <span class="position" id="position">Full Stack Developer <br> Practical Training</span><br>
      <span class="company" id="company">Tsofen تسوفن צופן</span>
        <br><br>
      <span class="company" id="company">Israel</span>
        <br>
    </div>
    <div class="col-8 column" style="text-align: left;">
      <p class="txt">
        Practical training course operated by <b>Tsofen</b> organization, <br>
        in cooperation with <b>Amdocs</b> and <b>IITC</b> totaling 250 academic hours.<br>
        •	Theoretical contents and a hands-on development project using <br>
        industry methodologies and practices.<br>
        •	<b>Technologies</b>: Java, MySQL, Angular, JS, HTML/CSS
        <br> and Agile development methodology.<br>
        •	<b>Project</b>, in collaboration with Amdocs: Monitoring and
        <br>control system that identifies defects and their severity on
        <br>Amdocs systems logs for their technical support team internal usage.

    </p>
  </div>
  </div>
  <div class="row justify-content-start react-reval" style="margin-top: 5%; animation-name: react-reveal-5;">
    <div class="col">
      <span class="header" id="header">Technical Skills</span>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row align-items-start line react-reval" style="animation-name: react-reveal-1;">
    <div class="col-1 column" style="text-align: left;">
      <div class="child_div" style="background-color: rgba(0, 80, 255, 1); width: 5px; height: 3vw;">
      </div>
    </div>
    <div class="col-8 column" style="text-align: left;">
      <p class="txt">
        •	Java, C#, Python<br>
        •	Oracle SQL, MySQL, SQLServer, MongoDB<br>
        •	HTML5, JavaScript, CSS3, jQuery, Angular, PHP<br>
        •	Visual Studio, Eclipse, VS Code, Jupyter NoteBook, Android Studio<br>
        •	Junit, Selenium<br>

    </p>
  </div>
  </div>

  <div class="row justify-content-start react-reval" style="margin-top: 5%; animation-name: react-reveal-5;">
    <div class="col">
      <span class="header" id="header">Languages</span>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row align-items-start line react-reval" style="animation-name: react-reveal-1;">
    <div class="col-1 column" style="text-align: left;">
      <div class="child_div" style="background-color: rgba(0, 80, 255, 1); width: 5px; height: 3vw;">
      </div>
    </div>
    <div class="col-8 column" style="text-align: left;">
      <p class="txt">
        •	<b>Arabic</b>: mother tongue<br>
        •	<b>Hebrew</b>: fluent<br>
        •	<b>English</b>: excellent<br>

    </p>
  </div>
  </div>
<br><br>
</div>
