* {
  box-sizing: border-box;
}
.column {
  padding: 3%;
}
.row{
  margin: 0;
}
.line {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*top right bottom left*/
  margin: 2% 22% 0 22%;
}
.bgc{
  background-color: #F4ECE6;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.square{
  background-color: rgba(0, 80, 255, 1);
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  margin-right: 1%;
  margin-top: 5%;
}
@media screen and (max-width: 600px) {
  #title{
    font-size: 1em;
  }
  .download{
    font-size: 0.4em;
  }
  #period{
    font-size: 0.7em;
  }
  #position{
    font-size: 0.5em;
  }
  #company{
    font-size: 0.5em;
  }
  .txt{
    font-size: 0.5em;
  }
  #header{
    font-size: 0.8em;
  }
  .line{
    width: 80%;
     /*top right bottom left*/
    margin: 2% 10% 0 10%;
  }
}

.title{
  display: inline-block;
  position: relative;
  font: normal normal bold 30px/2.4em poppins-semibold,poppins,sans-serif;
  margin-top: 5%;
}
.card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card2{
  background-color: white;
  margin:10%;
  width: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}
.period{
  color: rgba(0, 80, 255, 1);
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 2%;
}
.position{
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}
.company{
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
}
.header{
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 5%;
}
p{
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
}

.react-reval{
  animation-fill-mode: both;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes react-reveal-5 {
0% {
  opacity: 0;
  transform: translate3d(0px, -20px, 0px);
}
100% {
  opacity: 1;
  transform: none;
}
}
@keyframes react-reveal-1 {
  0% {
    opacity: 0;
    transform: translate3d(0px, 40px, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
  }
